@import 'https://fonts.googleapis.com/css?family=Patua+One';
@import 'https://fonts.googleapis.com/css?family=PT+Mono';
@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Pacifico';


.body_style{
	font-size: 20px;
	background: #E5E4D9;
}

.row
{
    background: #ffffff;
    padding-top: 10px;
    padding-right: 15px;

    }

h3
{
	background: #FFF0C4;
	padding-top: 5px;
	padding-left: 10px;
	font-family: 'Patua One', cursive;
	font-size:35px;

}

a
{
    font-family: 'PT Mono', monospace;
}

p
{
    font-family: 'Raleway', sans-serif;
}

.footer p
{
    font-family: 'Pacifico', cursive;
    padding-top: 30px;
    font-size: 23px;
}

